body,
a {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #0c0c0c;
    font-size: 20px;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.cabecalho {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;   

}

.logo {
    display: flex;
    align-items: center;
}

.menu-navegacao {
    display: flex;
}


.item {
    font-size: 16px;
    padding: 7px;
    margin: 9px;
    text-transform: capitalize;

}

.botao {
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-weight: 600;
    display: block;
    padding: 15px;
    margin: 16px;
    border-radius: 5px;
}

.texto1 {
    font-size: 48px;
    padding: 25px 25px 0px 25px;


}

.texto2 {
    font-size: 23px;
    padding: 20px 50px 0px 50px;
}
.apresentacao{
    display:flex ;
}
.foto{
   width: 50%;
}
.redes{
    display: flex;
}
.rede{
    border: 2px black solid ;
     padding: 20px;
    border-radius: 5px;
     
}

.rede:hover{
    background-color: rgb(94, 231, 14);
color: aliceblue;
}
.sobre-mim{
    display: flex;
gap: 20px;
padding-top: 20px;
}
.texto-sobre-mim{
    font-size: 30px;
 padding-top: 20px;
}
.sobre{
    font-size: 55px;
}
.titulo{
    font-size: 55px;
    text-align: center;
}
.sobre-mim-imagem{
    width: 100%;
}
.projeto{
    justify-content: center;
    font-size: 44px;
    margin-left: 400px;
    margin-right: 500px;
    color: #ffffff;
}
.meus-projetos{
    background-color: #0c0c0c;

}
.texto-unibave{
    color: #ffffff;
    font-size: 30px;
}
.habilidade{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.experiencia{
    background-color: #0c0c0c;
    padding: 100px 100px 100px 100px;
}
.minhas-experiencias{
    color: white;
    text-align: center;
    margin-bottom: 70px;
    font-size: 30px;
}
.ferramenta{
width: 2%;
}
.mecanica{
    color: #ffffff;
    font-size: 30px;
    
}
.exp1{
    border: 2px  white solid;
   display: flex;
    border-radius: 5px;
    gap: 10px;
    padding:10px;
}
.text-mecan{
    color: #ffffff;
    font-size: 15px;
}