body,
a {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #0c0c0c;
    font-size: 20px;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.cabecalho {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;   

}

.logo {
    display: flex;
    align-items: center;
}

.menu-navegacao {
    display: flex;
}


.item {
    font-size: 16px;
    padding: 7px;
    margin: 9px;
    text-transform: capitalize;

}

.botao {
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-weight: 600;
    display: block;
    padding: 15px;
    margin: 16px;
    border-radius: 5px;
}

.texto1 {
    font-size: 48px;
    padding: 20px 0px;
}

.texto2 {
    font-size: 23px;
    padding: 20px 0px;
}
.apresentacao{
    display:flex ;
}
.foto{
   width: 50%;
}
.redes{
    display: flex;
    padding: 20px 0px;
    gap: 16px;
}
.svg-rede-social{
    border: 2px black solid ;
    padding: 20px;
    border-radius: 5px;
    color: black;
}

.svg-rede-social:hover{
    background-color: black;
    color: white;
}
.svg-habilidades {
    border: 2px black solid ;
    padding: 24px;
    border-radius: 5px;
    color: black;
}

.svg-habilidades:hover {
    background-color: black;
    color: white;
}





.sobre-mim{
    display: flex;
gap: 20px;
padding-top: 20px;
}
.texto-sobre-mim{
    font-size: 30px;
 padding-top: 20px;
}
.sobre{
    font-size: 55px;
}
.titulo{
    font-size: 55px;
    text-align: center;
    padding: 20px 0px;
}
.sobre-mim-imagem{
    width: 100%;
padding: 0px 50px;
}
.projeto{
    justify-content: center;
    font-size: 44px;
    margin-left: 400px;
    margin-right: 500px;
}
.habilidade{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.experiencia{
    background-color: #0c0c0c;
    padding:48px;
    display: block;
}
.minhas-experiencia-titulo{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom:80px;
}
.ferramenta{
width: 5%;
justify-content: space-between;

}
.mecanica{
    color: #ffffff;
    font-size: 30px;
    
}
.exp1{
    border: 1px  white solid;
   display: flex;
    border-radius: 5px;
    gap: 10px;
    padding:10px;
   
}
.text-mecan{
    color: #ffffff;
    font-size: 15px;
}
.minhas-experiencias{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.img-unibave{
    border-radius: 13%;
    padding: 20px 20px;
}
.texto-unibave{
    color: #ffffff;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.meus-projetos{
    background-color: #0c0c0c;
    color: white;
}
.projetos{
    display: flex;
    gap: 40px;
}
