h1{
    color: rgb(0, 11, 112);
    font-size: 50px;
}

p {
    color:#000000 rgb(0, 0, 0);
    font-size: 20px;
}

h2 {
    color: rgb(0, 0, 0,05);
    font-size: 30px;
}

a {
    font-size: 20px;
    color: #f34d9d;
    text-decoration: none;
}



html {
    background-color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
}

div {
   margin-left: 170px;
}

div > h2{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color:#0d5023;
}


.logo-github{
    margin-left:70px;
}

.toneza{
    margin-left:50px ;
}

.insta{
    margin-left: 90px;
}

.ph{
    font-size: 30px;
 }

 .clip-trapezoid {
    clip-path: inset(60px 0 60px 0);
}